<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="no-js" ng-app="newsletterPreview"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Newsletter stories [Rainbow]</title>
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">  
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body ng-controller="StoriesController" style="overflow:hidden">

<h5 align="center"> The newsletter data last updated at: {{stories.lmt | date: 'short'}} </h5>
<p align="center"> <a href="https://docs.google.com/document/d/1Vnq6skH4HDyLmGUNMVfMCKf7IlX51OsLDjfvszFxY2Q/edit" class="btn btn-default"role="button" target="_blank">How to doc</a>  |   <b>Subject line</b>: {{stories.subject}}</p>


<div class="container"> <!-- Begin Bootstrap container -->
<div class="row"> <!-- Begin Bootstrap row -->


<div class="col-md-6"> <!-- Begin Bootstrap left-hand column -->
<h3 align="center">A [regular] <a href="http://rainbowtool.wpprivate.com/pb/admin/console/sections" class="btn btn-default" target="_blank" role="button">reorder</a> </button> </h3>
<div style="height:500px; overflow-y:scroll; min-width:0; min-height:0; padding:5px;"> <!-- Begin scroll box div -->
<table id="body_table" width="100%"><!-- begin body_table-->
  <tr>
    <td align="center" valign="top">
 
      <!-- begin outer_table -->
      <table id="outer_table" align="center" border="0">
        <tr>
          <td class="second-td" align="center" valign="top" width="480">


            <!-- begin view on the web table -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="center" class="hosted-link" valign="top">
                  <a href="#">
                    VIEW ON THE WEB  &gt; 
                  </a>
                </td>
              </tr>
            </table> <!-- end view on the web table -->




            <!-- begin story table -->
            <table ng-repeat="story in stories.contenturls" ng-mouseover="highlightStory()" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="center" style="padding-bottom: 20px" valign="top">

                  <!-- begin bright table -->
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
                    <tr>
                      <td class="story-td" align="center">
                        <a href="http://rainbowtool.wpprivate.com/pb/admin/console/editor/page/{{story.id}}" target="_blank" class="story-link">
                          <img alt="{{story.title}}" border="0" ng-src={{story.items[0].imageURL}} class="story-image" width="580" />
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td align="left" class="article-content">

                        <!-- begin blurb table -->
                        <table ng-if="!$first" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" class="blurb">
                              {{story.items[0].instructions}}
                            </td>
                          </tr>


                          <!-- Take out MORE link to give more reading space 
                          <tr>
                            <td align="left" class="more-link">
                              <a href={{story.publishedurl}} target="_blank" class="story-link">
                              <img alt="More" border="0" src="http://www.washingtonpost.com/news/tablet/wp-content/uploads/sites/39/2015/04/More-Button-550.png" class="more-button" />
                            </a>
                            </td>
                          </tr> -->

                        </table> <!-- end blurb table -->

                      </td>
                    </tr>
                  </table> <!-- end bright table -->

                </td>
              </tr>
            </table> <!-- end story table -->




          </td>
        </tr>
      </table> <!-- end outer_table -->

    </td>
  </tr>
</table> <!-- end body_table -->
</div> <!-- end scroll box div -->
</div> <!-- end Bootstrap left-hand column -->


<!-- Begin Bootstrap right-hand column -->
<!-- REMOVE STORY LIST FOR A/B TEST 
<div class="col-md-6"> 
<h3>Stories in the newsletter section <a href="http://rainbowtool.wpprivate.com/pb/admin/console/sections" target="_blank">[reorder]</a>:</h3>
<ul class="list-group"> 
  <li class="list-group-item" ng-repeat="story in stories.contenturls" id="{{$index}}">
     <a href="http://rainbowtool.wpprivate.com/pb/admin/console/editor/page/{{story.id}}" target="_blank" class="story-link">
      {{story.title}}
     </a>
  </li>
</ul> 
</div> -->
<!-- end Bootstrap right-hand column -->


<div class="col-md-6"> <!-- Begin Bootstrap RIGHT-hand column -->
<h3 align="center">B [horizontal] <a class="btn btn-default" href="https://my.sailthru.com/template/#5061999" role="button" target="_blank">SailThru preview </a></h3>
<div style="height:500px; overflow-y:scroll; min-width:0; min-height:0; padding:5px;"> <!-- Begin scroll box div -->
<table id="body_table" width="100%"><!-- begin body_table-->
  <tr>
    <td align="center" valign="top">
 
      <!-- begin outer_table -->
      <table id="outer_table" align="center" border="0">
        <tr>
          <td class="second-td" align="center" valign="top" width="480">


            <!-- begin view on the web table -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="center" class="hosted-link" valign="top">
                  <a href="#">
                    VIEW ON THE WEB  &gt; 
                  </a>
                </td>
              </tr>
            </table> <!-- end view on the web table -->




            <!-- begin story table -->
            <table ng-repeat="story in stories.contenturls" ng-mouseover="highlightStory()" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="center" style="padding-bottom: 20px" valign="top">

                  <!-- begin bright table -->
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
                    <tr>
                      <td class="story-td" align="center">
                        <a href="http://rainbowtool.wpprivate.com/pb/admin/console/editor/page/{{story.id}}" target="_blank" class="story-link">
                          <img alt="{{story.title}}" border="0" ng-src={{story.items[1].imageURL}} class="story-image" width="580" />
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td align="left" class="article-content">

                        <!-- begin blurb table -->
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" class="blurb">
                              {{story.items[0].instructions}}
                            </td>
                          </tr>


                          <!-- Take out MORE link to give more reading space 
                          <tr>
                            <td align="left" class="more-link">
                              <a href={{story.publishedurl}} target="_blank" class="story-link">
                              <img alt="More" border="0" src="http://www.washingtonpost.com/news/tablet/wp-content/uploads/sites/39/2015/04/More-Button-550.png" class="more-button" />
                            </a>
                            </td>
                          </tr> -->

                        </table> <!-- end blurb table -->

                      </td>
                    </tr>
                  </table> <!-- end bright table -->

                </td>
              </tr>
            </table> <!-- end story table -->




          </td>
        </tr>
      </table> <!-- end outer_table -->

    </td>
  </tr>
</table> <!-- end body_table -->
</div> <!-- end scroll box div -->
</div> <!-- end Bootstrap right-hand column -->



</div> <!-- end Bootstrap row -->
</div> <!-- end Bootstrap container -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>

</body>
</html>